# Development files
.git
.gitignore
.eslintrc
.prettierrc
.vscode

# Build files
build
dist

# Test files
__tests__
*.test.js
*.spec.js

# Documentation
docs

# Miscellaneous
*.log
.DS_Store
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*